{% extends 'base.html' %}
{% load static%}
{% block title %}Report Form{% endblock %}
{% block content %}

<style>
    .container {
        max-width: 100%; /* Adjust the width as needed */
    }
    form {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        color: #0073e6; /* Blue */
        margin-bottom: 20px;
    }
    input[type="submit"] {
        background-color: #0073e6; /* Blue */
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
    }
</style>

<div class="container">
    <form action="{% url 'login:report' %}" method="POST" enctype="multipart/form-data">
        <h2>Report</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name="file" multiple>
        <input type="submit" />
    </form>

    {% if user.is_authenticated %}
        <a href="{% url 'login:user_dashboard' %}" class="btn btn-primary back-button">Back to My Reports</a>
    {% else %}
        <a href="{% url 'login:index' %}" class="btn btn-primary back-button">Back to Home</a>
    {% endif %}
</div>
{% endblock %}